.hero {
  margin: 2em 0;

  @include tablet{
    margin-top: 4em;
  }

  &__title {
    text-align: center;
  }
  &__description {
    margin: 1em 1em;
    font-size: 1rem;
    text-align: center;

    @include desktop {
      font-size: 1.125rem;
    }
  }
}