.presentation {
  text-align: center;
  margin: max(10%, 7rem) 0;

  @include tablet {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
  &__image {
    display: block;
    width: 300px;
    margin: 0 auto;
    @include tablet {
      margin: 0;
      width: 35%;
      height: 35%;
    }
  }

  &__text {
    margin-top: 2.5em;
    @include tablet {
      margin: 0;
      max-width: 50%;
    }

    @include desktop {
      max-width: 40%;
    }
  }

  &__description {
    margin: 1.5em 0.5em;
    line-height: 1.75rem;

    @include desktop {
      margin: 1.5em 0;
      font-size: 1.125rem;
    }
  }
}