@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
:root {
  --purple-square-color: #755CDE;
  --orange-square-color: #F6A560;
  --pink-square-color: #F39E9E;
  --lightred-square-color: #EB7565;
  --green-square-color: #61C4B7;
  --burgundy-square-color: #552049;
  --title-color: #030303;
  --text-color: #7A746E;
  --negative-text-color: #FFF7F0;
  --btn-color: #030303;
  --btn-color-hover: #755CDE;
  --btn-color-lightred: #EB7565;
  --btn-color-lightred-hover: #F6A560;
  --background-contact: #030303;
  --background-color: #FFF7F0;
  --graphic-square: url("../images/pattern-graphic-design.svg");
  --uiux-square: url("../images/pattern-ui-ux.svg");
  --illustrations-square: url("../images/pattern-illustrations.svg");
  --app-square: url("../images/pattern-apps.svg");
  --photography-square: url("../images/pattern-photography.svg");
  --motion-square: url("../images/pattern-motion-graphics.svg");
  --left-icon: url("../images/icon-arrow-left.svg");
  --right-icon: url("../images/icon-arrow-right.svg");
  --wrapper-width: clamp(345px, 90%, 1400px);
  --general-font-size: 16px;
  --heading-l-font-size: 3.5rem;
  --heading-m-font-size: 2.5em;
  --heading-s-font-size: 2rem;
  --text-font-size: 1.125rem;
  --font-family: "Plus Jakarta Sans", sans-serif;
}

/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-user-select: auto;
  user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

@keyframes headerAppear {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes titleSlideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.title--appear {
  overflow: hidden;
}
.title--appear span {
  display: block;
  transform: translateY(100px);
  animation: 1s 1200ms titleSlideUp ease-out forwards;
}

.header--appear {
  animation: 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) headerAppear;
}

.grid--appear {
  overflow: hidden;
  position: relative;
}
.grid--appear::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  animation: shine 1s 2s;
}

html {
  font-size: var(--general-font-size);
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 500;
}

body {
  background-color: var(--background-color);
  margin: 2em 0;
}

.wrapper {
  width: var(--wrapper-width);
  margin: auto;
}

.hero {
  margin: 2em 0;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 4em;
  }
}
.hero__title {
  text-align: center;
}
.hero__description {
  margin: 1em 1em;
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__description {
    font-size: 1.125rem;
  }
}

.presentation {
  text-align: center;
  margin: max(10%, 7rem) 0;
}
@media screen and (min-width: 768px) {
  .presentation {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
}
.presentation__image {
  display: block;
  width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .presentation__image {
    margin: 0;
    width: 35%;
    height: 35%;
  }
}
.presentation__text {
  margin-top: 2.5em;
}
@media screen and (min-width: 768px) {
  .presentation__text {
    margin: 0;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__text {
    max-width: 40%;
  }
}
.presentation__description {
  margin: 1.5em 0.5em;
  line-height: 1.75rem;
}
@media screen and (min-width: 1200px) {
  .presentation__description {
    margin: 1.5em 0;
    font-size: 1.125rem;
  }
}

.contact {
  text-align: center;
  background-color: var(--background-contact);
  color: var(--negative-text-color);
  padding: min(12%, 5rem) min(10%, 4rem);
  border-radius: 10px;
  margin-bottom: 3.5em;
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .contact__text {
    width: 50%;
  }
}
.contact .contact__title {
  color: var(--negative-text-color);
}
.contact__description {
  margin: 1.5em 0;
  line-height: 26px;
}
@media screen and (min-width: 1200px) {
  .contact__description {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
}

.skill__grid {
  margin-top: max(6%, 1.5rem);
  display: grid;
  grid-template: repeat(6, 180px)/repeat(2, minmax(160px, 1fr));
  gap: 1em;
  color: var(--negative-text-color);
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .skill__grid {
    grid-template: repeat(3, 180px)/repeat(4, minmax(160px, 1fr));
  }
}
@media screen and (min-width: 1200px) {
  .skill__grid {
    grid-template: repeat(2, 180px)/repeat(6, minmax(0, 1fr));
  }
}
.skill__item {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding: 1em;
  border-radius: 8px;
}
.skill__item--graphic {
  grid-column: span 2;
  grid-row: span 2;
  background: var(--purple-square-color) var(--graphic-square) no-repeat top 1em right 1em;
}
.skill__item--uiux {
  background: var(--orange-square-color) var(--uiux-square) no-repeat top 1em right 1em;
}
.skill__item--apps {
  background: var(--pink-square-color) var(--app-square) no-repeat top 1em right 1em;
}
.skill__item--illustration {
  grid-column: span 2;
  background: var(--lightred-square-color) var(--illustrations-square) no-repeat top 1em right 1em;
}
.skill__item--photography {
  grid-column: span 2;
  background: var(--green-square-color) var(--photography-square) no-repeat top 1em right 1em;
}
@media screen and (min-width: 1200px) {
  .skill__item--photography {
    grid-column: 5/span 2;
    grid-row: 1;
  }
}
.skill__item--motion {
  grid-column: span 2;
  background: var(--burgundy-square-color) var(--motion-square) no-repeat top 1em right 1em;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 3rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 4rem;
  }
}

.heading-L {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .heading-L {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .heading-L {
    font-size: 3.5rem;
  }
}
.heading-M {
  font-size: 1.625rem;
  font-weight: 700;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .heading-M {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .heading-M {
    font-size: 2.5rem;
  }
}
.heading-S {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .heading-S {
    font-size: 2rem;
  }
}

.carousel {
  overflow: hidden;
  margin-bottom: 6em;
}
.carousel__title {
  text-align: center;
}
.carousel ul {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  transition: transform 800ms ease-in-out;
}
.carousel__item {
  display: block;
  padding: 0 1em;
  min-width: min(70%, 540px);
}
.carousel__image {
  width: 100%;
}
.carousel__btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.carousel__button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--btn-color);
  position: relative;
  transition: background-color 200ms;
  cursor: pointer;
}
.carousel__button:active {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3) inset;
}
.carousel__button:hover {
  background-color: var(--btn-color-hover);
}
.carousel__button.right-btn::after {
  content: "";
  color: white;
  background: var(--right-icon) no-repeat left 50% top 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
}
.carousel__button.left-btn::after {
  content: "";
  color: white;
  background: var(--left-icon) no-repeat left 50% top 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.btn-consultation {
  padding: 0.75em 1.75em;
  border-radius: 2em;
  font-size: 0.875rem;
  font-weight: 700;
  transition: background-color 200ms;
  color: var(--negative-text-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn-consultation {
    font-size: 1rem;
  }
}
.btn-consultation--black {
  background-color: var(--btn-color);
}
.btn-consultation--black:hover {
  background-color: var(--btn-color-hover);
}
.btn-consultation--lightred {
  background-color: var(--btn-color-lightred);
}
.btn-consultation--lightred:hover {
  background-color: var(--btn-color-lightred-hover);
}

/*# sourceMappingURL=main.css.map */
